@charset "utf-8";
@font-face {
            font-family: 'icon';
            src: url('../fonts/icon.eot?carbqp');
            src: url('../fonts/icon.eot?carbqp#iefix') format('embedded-opentype'), 
                 url('../fonts/icon.ttf?carbqp') format('truetype'), 
                 url('../fonts/icon.woff?carbqp') format('woff'), 
                 url('../fonts/icon.svg?carbqp#icon') format('svg');
            font-weight: normal;
            font-style: normal;
        }

.yicon {
            font-family: 'icon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
			display: inline-block;
        }
.icon-pencil::before {
    content: "";
}
.icon-trash::before {
    content: "";
}
.update,.del{color:#999;font-size:18px;}
.update:hover,.del:hover{color: #61a500;}

